  <div class="text-white" style="color:white" style="background-image: url('assets/sumarry-banner.png')" >
    <i class="glyphicon glyphicon-menu-hamburger"></i>
      <nav class="container navbar navbar-expand-lg navbar-dark"  >
        <i class="icon ion-menu"></i>
          <img src="assets/logo.png" style="height: 45px;" alt="">
          <a class="navbar-brand" href="#"><h3>PayDome</h3></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline my-2 my-lg-0 text-white" >
                <div class="nav-item dropdown">
                  <a class="nav-link text-white dropdown-toggle left" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="assets/Pakistan.svg" style="height: 20px;" alt="">Pakistan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
              <a class="mr-4 text-white" href="#">Sign Up</a>
              <button class="btn btn-info my-2 my-sm-0" type="submit">Login</button>
            </form>
          </div>
        </nav>
        <div class=" container login-container" style="background-color:black;opacity: 50%;">
          <div class="row p-5">
              <div class="col-md-6 login-form-1">
                  <h4 class="text-white">Forgot Your Password ?</h4>
                  <p>A messenger will be sent to the account's mobile phone providing a hint to?</p>
                  <div class="form-check">
                      <div class="d-inline">
                          <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Email
                      </label>
                      </div>
                      <div class="ml-5 d-inline">
                          <input class="form-check-input"   type="checkbox" value="" id="flexCheckDefault" checked>
                      <label class="form-check-label" for="flexCheckDefault">
                        Mobile
                      </label>
                      </div>

                    </div>
                  <div class="mt-3">
                      <b>Enter Email or Mobile</b>
                      <div class="form-group mt-2">
                          <input type="text" class="form-control" style="background-color: transparent;" placeholder="+92 342 6789054" value="" />
                      </div>
                      <small>The mobile phone number you entered does not match an active PayDemo account</small>
                      <p class="mt-3"><b>Enter Validation</b></p>
                      <div class="form-group">
                          <input type="password" class="form-control" style="background-color: transparent;" placeholder="0000" value="" />
                      </div>
                      <div >
                          <button class="form-control btn btn-info">Next</button>
                      </div>
                      
                  </div>
              </div>
              <div class="col-md-6 login-form-1">
                  <h4 class="text-white">Forgot Your email ?</h4>
                  <p>A messenger will be sent to the account's mobile phone providing a hint to your email address</p>
                  
                  <div class="mt-3">
                      <b>Enter Enter mobile number</b>
                      <div class="form-group mt-2">
                          <input type="text" class="form-control" style="background-color: transparent;" placeholder="+92 342 678906" value="" />
                      </div>
                      <small>The mobile phone number you entered does not match an active PayDemo account</small>
                      
                          <button class="mt-3 form-control btn btn-info">Submit</button>
                          <small>Need more help ?</small>
                      </div>
                      
                  </div>
              </div>
          </div>
  </div>